#hidden{
	display: none;
}

#shown{
	display: inline-block; //idk if this is the right one
}
#utilities{
	display: inline-block;
	float: right;
}

#fullchat{
	width: 100%;
	display: block;
}

#chatbox{
	overflow: none;
	position: relative;
	width: 100%;
	height: 400px;
	border: 4px groove gray;
	padding: 10px;
	display: inline-block;
	background-color: rgba(241, 241, 212, 0.85);
}

#chatlog{
	overflow: auto;
	position: absolute;
	width: 97%;
	max-height: 400px;
	font-family: "Courier New", Courier, monospace;
	display:inline-block;
}

input#text{
	padding: 10px;
	border: 4px groove gray;
	width: 100%;
	background-color: rgba(241, 241, 212, 0.85);
	display: block;
}

.chat{
  margin-right: 0px;
}

#leave{
  position: fixed;
  bottom: 15px;
  left: 10px;
}

h1{
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	color: black;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

h2{
    font-family: "Trebuchet MS", Tahoma, sans-serif;
	color: black;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}

body{
	background-image: url(../assets/tavern.png);
	background-repeat:no-repeat ;
  background-size:cover;
  background-attachment: fixed;
    margin-bottom: 0px;
}

#sheet{
    float: left;
    background-color: rgba(56, 48, 9, 0.966);
    color: rgba(163, 163, 163, 0.966);
    //margin: -8% -12.875% 7% 3%;
    border-radius: 3px;
    border: 1px solid #DEDEDE;
    font-family: 'MedievalSharp';
}

#dmstuff{
    float: left;
    background-color: rgba(56, 48, 9, 0.966);
    color: rgba(163, 163, 163, 0.966);
    //margin: -8% -12.875% 7% 3%;
    border-radius: 3px;
    border: 1px solid #DEDEDE;
    font-family: 'MedievalSharp';
}

.dmcontent {
}

.dmmonsterlist{
  display: inline-block;
}

.dmmonsteredit{
  display: inline-block;
}

.dmencountercontent{
  display: inline-block;
}

.col {
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    border: 1px solid #dedede;
    width: auto;
    padding: 10px;
    margin: 5px;
  }

.sheet_title {
    text-align: center;
}

.roll{
		display: inline-block;
		padding: 10px;
		float: left;
    margin-right: 0%;
}

.roll_type{
    margin-left: 0%;
}

.rbtn{
		display: block;
		margin-left: 15%;
}

input[type="radio"]{
		display: inline-block
}

.btn{
  background-color: #000000;
  border: 3px solid;
  color: #FF0000;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  border-radius: 12px;
  border-color: #FF0000;
}

.footer {
    position: fixed;
    height: 50px;
    background-color: black;
    color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

label {
    font-family: "Trebuchet MS", sans-serif;
    cursor: pointer;
    color: rgb(241, 241, 212);
    //margin-left: -30px;
}
