<!DOCTYPE html>

<html lang="en">
    <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  		<!-- <script src="{{ url_for('static', filename='js/play.js') }}"></script> -->
  		<link rel="stylesheet" type="text/css" href="../static/css/create.css">

  		<title>Create Your Account</title>
    </head>
    <body id="bodybackgound" background="./../static/assets/registerBackground.jpg">
      <div class="topnavbar">
        <a href="">Create Account</a>
        <a href="./../static/index.html"">Login</a>
        <a href="https://www.dandwiki.com/wiki/" target="_blank">Rules</a>
        <img src="./../static/assets/logo.png" width="70px" height="50px">
      </div>
      <div class="container">
		    <!-- <img src="./assets/image2.png" alt="logo"> -->
        <form class="form-inline" action="/joinRoom" method="POST">
          <img src="./../static/assets/image2.png" alt="logo">
          <p class="subtitle">Username: </p>
          <input class="field" id="username" type="text" placeholder="User Name" name="" required>
          <p class="subtitle">Password: </p>
          <input class="field" id="pasword" type="text" placeholder="Password" name="" required>
          <p class="subtitle">Confirm Password: </p>
          <input class="field" id="confirm pasword" type="text" placeholder="Retype Password" name="" required>
          <p class="subtitle">Email: </p>
          <input class="field" id="email" type="text" placeholder="Email" name="" required>
        </form>

            <button class="btn">Create Account</button>
      </div>
    </body>
</html>
