<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
		<script src="{{ url_for('static', filename='js/play.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/play.css">

		<title>Play D&D!</title>
	</head>
	<body>
		<h1>Welcome to {{ room }}, {{ name }}</h1>
		<!----><div id="chatbox">
			<div id="chatlog">
			</div>
		</div><!---->
		<!----<textarea id="chatmessages" cols="80" rows="30" readonly></textarea><!----><br><br>
		<input id="text" size="118" placeholder="Enter message..."><br><br>
		<!----<a href="#" onclick="leave_room();">Leave Room</a><!---->
		<button class = "btn" id="leave">Leave Room</button>

        <button class = "btn" id ="dice_roll">Roll Dice</button>
        <select id = "dice_list">
            <option value="4">d4</option>
            <option value="6">d6</option>
            <option value="8">d8</option>
            <option value="10">d10</option>
            <option value="12">d12</option>
            <option value="20">d20</option>
        </select>
        <input type="radio" id ="adv" value="adv">Advantage<br>
        <input type="radio" id ="disadv" value="disadv">Disadvantage<br>
	</body>
</html>