<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
		<script src="{{ url_for('static', filename='js/play.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/play.css">

		<title>Play D&D!</title>
	</head>
	<body>
		<h1>Welcome to {{ room }}, {{ name }}</h1>
		<div class="chat" id="chatbox">
			<div id="chatlog">
			</div>
            <div class="roll">
                <h2>Dice Roll:</h2>
                <div class = "roll_type">
                    <input type="radio" name = "roll_type" id = "single" checked="checked"><label>Single Roll</label>
                    <input type="radio" name = "roll_type" id ="adv"><label>Advantage</label>
                    <input type="radio" name = "roll_type" id ="disadv"><label>Disadvantage</label>
                </div>
                <select id = "dice_list">
                    <option value="4">d4</option>
                    <option value="6">d6</option>
                    <option value="8">d8</option>
                    <option value="10">d10</option>
                    <option value="12">d12</option>
                    <option value="20">d20</option>
                </select>
                <button class = "btn" id ="dice_roll">Roll</button>
            </div>
		</div>
        <br><br>
		<input id="text" size="118" placeholder="Enter message..."><br><br>
		<button class = "btn" id="leave">Leave Room</button>
	</body>
</html>